.row{
    padding: 10px;
    background-color: #0C0D27;
    /*background-image: url(../../../assets/imagenes/fondo.png);*/
}
div{
    text-align: center;
    color:white;
}

@media(min-width: 576px){
    #imagenDePerfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 4px 4px 4px blue;
        left: 2%;
        top: 800px;
    }
}

@media(max-width: 575px){
    #imagenDePerfil{
        position: absolute;
        width: 32%;
        border-radius: 100%;
        box-shadow: 4px 4px 4px blue;
        left: 33%;
        top: 1093px;
    }
}

#nombre{
    font-weight: bold;
    margin-top: 40%;
}
