<div class="container">  
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/imagenes/foto perfíl.png" alt="mi_foto_de_perfíl" class="img-fluid">
        </div>   
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Balmaceda Eduardo Hernan</p>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Sobre mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus necessitatibus, labore perferendis modi dignissimos quisquam vitae soluta, aut, est aliquid dolorum vero. Odit amet dolores nobis deserunt, debitis iure animi.</p>
            </span>
        </div>
    </div>
</div>

