.row{
    padding: 20px;
    color: white;
    background-color: #111339;
    /*background-image: url(../../../assets/imagenes/fondo.png);*/
}
.contenedor{
    width: auto;
}
.x1, .x2{
    display: inline-block;
    text-align: justify;
}
.img-pr{
    box-shadow: 10px 10px 30px blue;
}