<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 x1">
            <h2> 1. Base de Datos de una empresa agroalimentaria - JAVA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam vero nisi error rerum! Quis voluptates culpa unde quae alias, ratione aspernatur quos odio accusantium eius tempore, sunt, minus eos quisquam.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 x2">
            <img src="../../../assets/imagenes/Proyecto-java.png" alt="imagen_proyecto1" class="img-fluid img-pr">
        </div>
    </div>
</div>
