<div class="row">
    <div class="container">
        <div class="logAR">
            <img src="../../../assets/Logos/APLogo.png" alt="icono Argentina Programa" id="Lap">
        </div>
        <div class="RedesSociales">
            <p>Mis redes sociales</p>
            <a href="https://www.facebook.com/Hernan160598"><img src="../../../assets/Logos/facebook.png" alt="Facebook"></a>
            <a href="https://github.com/EdwardHB"><img src="../../../assets/Logos/github.png" alt="Github"></a>
            <a href="https://www.instagram.com/edu_balmaceda83/"><img src="../../../assets/Logos/instagram.png" alt="Instagram"></a>
            <a href="https://twitter.com/HBEdward16"><img src="../../../assets/Logos/twitter.png" alt="Twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">INGRESO</button>
        </div>
    </div>
</div>
