<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/imagenes/html-5.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
    [unitsColor]="'white'"
    [titleColor]="'white'"
    [subtitleColor]="'white'"
    [subtitle]="'85%'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/imagenes/css.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
    [unitsColor]="'white'"
    [titleColor]="'white'"
    [subtitleColor]="'white'"
    [subtitle]="'85%'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/imagenes/js.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
    [unitsColor]="'white'"
    [titleColor]="'white'"
    [subtitleColor]="'white'"
    [subtitle]="'85%'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/imagenes/c.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'darkblue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
    [unitsColor]="'white'"
    [titleColor]="'white'"
    [subtitleColor]="'white'"
    [subtitle]="'85%'"
    ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/imagenes/java.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'darkblue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
    [unitsColor]="'white'"
    [titleColor]="'white'"
    [subtitleColor]="'white'"
    [subtitle]="'85%'"
    ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/imagenes/sql.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'darkblue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
    [unitsColor]="'white'"
    [titleColor]="'white'"
    [subtitleColor]="'white'"
    [subtitle]="'85%'"
    ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/imagenes/python.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'darkblue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
    [unitsColor]="'white'"
    [titleColor]="'white'"
    [subtitleColor]="'white'"
    [subtitle]="'85%'"
    ></circle-progress>
    </div>
</div>
